<%- include("partials/head.ejs") %>

    <body>
        <%- include("partials/navbar.ejs") %>
            <h1><i>Tweet Details</i></h1>
            <h2 style="margin:0.8em ;">tweet: <%=t.content %>
            </h2>
            <h3 style="margin:1em ;">user: <%=t.user %>
            </h3>
            <form method="post" action="/<%=t.id%>?_method=delete" style="display: inline-block;">
                <button type="submit" class="btn btn-danger" style="margin:1.2em ;">Delete
                    Tweet</button>
            </form>
            <form action="/<%=t.id%>/edit" style="display: inline-block;">
                <button type="submit" class="btn btn-primary" style="margin:1.2em ;">Edit
                    Tweet</button>
            </form>


    </body>

    </html>